<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
      
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup> 
  
  <appSettings>
    <add key="PeriodoTimerMilisecs" value="10000" />
    <add key="Servicio.Debug" value="1" />
    <add key="TwitterAccessToken" value="23353937-OocIqV2VwSi5jpqPNyZOej2SqU4e2BJdQofg4PFYH" />
    <add key="TwitterAccessSecret" value="EB1YAnXxSjjtaQGle1eIdO6vC7C9u1CBVC36i1V81OB3p" />
    <add key="TwitterConsumerKey" value="c5jHO4ehN5Q6E9vuhoXQ3Yt61" />
    <add key="TwitterConsumerSecret" value="4v8IbOvJKO6ehIlSucLDoumxJcPbz5TMAkQis69swg34P5EwG1" />
    <add key="Twitter.SearchQuery" value="Villanueva" />

    <add key="GenderAPI.Url" value="https://gender-api.com/get?split={0}{1}=AkpNpWxEEDJezJCUgx" />
    <add key="GenderAPI.SSLDeshabilitar" value="false" />
    <add key="GenderAPI.Masculino" value="male" />
    <add key="GenderAPI.Femenino" value="female" />

    <add key="Sentiment.Provider" value="1" />
    <!--1=Watson, 2=Azure -->

    <add key="AzureCognitiveServices.Key1" value="6446a4424ffe44ce823c9285bc08fe9f" />
    <add key="AzureCognitiveServices.Key2" value="b0315ffd7c624aed9e392ad7539a7bea" />
    <add key="AzureCognitiveServices.Negative" value="0.5" />
    <add key="AzureCognitiveServices.Positive" value="0.7" /> 
    
    <add key="AzureCognitiveServices.InputKeyword" value="D:\API-SmartIA\pe.itsight.apismartia\pe.itsight.apismartia\json\AzureKeyPhrases.txt" />
    <add key="AzureCognitiveServices.InputSentiment" value="D:\API-SmartIA\pe.itsight.apismartia\pe.itsight.apismartia\json\AzureSentiment.txt" />

    <add key="AzureCognitiveServices.Url" value="https://westus.api.cognitive.microsoft.com/text/analytics/v2.0/" />
    <add key="AzureCognitiveServices.EndpointKey" value="keyPhrases" />
    <add key="AzureCognitiveServices.EndpointSentiment" value="sentiment" />
    <add key="AzureCognitiveServices.Header" value="Ocp-Apim-Subscription-Key" />
    <add key="AzureCognitiveServices.ContentType" value="application/json" />

    <add key="WatsonNLU.URL" value="https://gateway.watsonplatform.net/natural-language-understanding/api/v1/analyze?version=2018-03-19" />
    <add key="WatsonNLU.Authorization" value="Basic ZGVhOTA1ZjQtNzY0NS00ZmUxLTk5MzItYWIwODA5YmUzNGVjOnZ5QmFSeHg1b2k4Rw==" />
    <add key="WatsonNLU.ContentType" value="application/json" />
    <add key="WatsonNLU.ApiKey" value="apikey" />
    <add key="WatsonNLU.Password" value="guXD-Eghd9SfE290vt9jRM6YeWJNYu2T5aQqBZ0x5bbA" />

    <!--<add key="WatsonNLU.Input" value="F:\Codigo fuente\ITSight\SmartIA\pe.itsight.smartia.test\json\WatsonNLU.txt" />-->
    <add key="WatsonNLU.Input" value="D:\API-SmartIA\pe.itsight.apismartia\pe.itsight.apismartia\json\WatsonNLU.txt" />

    <add key="WatsonNLU.Positive" value="positive" />
    <add key="WatsonNLU.Negative" value="negative" />

    <add key="MaxResults" value="500" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net>
    <appender name="error" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="D:\API-SmartIA\pe.itsight.apismartia\logs\smartia.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p%d{ yyyy-MM-dd HH:mm:ss} – [%thread] %m %logger method:%method type:%type line: %line %n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="error" />
    </root>
  </log4net>
  
</configuration>
